<!-- <folio-header></folio-header>
<main>
  <folio-sidenav></folio-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <folio-sidenav></folio-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <folio-header [drawer]="drawer"></folio-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
