:host {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
}

.content {
  padding: 0 40px;
  flex: 1;
}
.sidenav {
  border-right: none;
}

.mat-list-item {
  color: #9696a1;
  border-radius: 0 35px 35px 0;
  overflow: hidden;
  &.active {
    color: #fff;
    background-color: #3930d8;
  }
}

.mat-drawer-container {
  background-color: transparent;
}
