:host {
  width: 275px;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  height: 200px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

mat-nav-list {
  flex: 1;
}

.mat-list-item {
  color: #9696a1;
  border-radius: 0 35px 35px 0;
  overflow: hidden;
  &.active {
    color: #fff;
    background-color: #3930d8;
  }
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background: center url('../../../assets/profile.png') #fafafa;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
