<mat-toolbar>
  <div class="avatar"></div>
</mat-toolbar>

<mat-nav-list>
  <mat-list-item>
    <mat-icon mat-list-icon>home</mat-icon>
    <h4 mat-line>Overview</h4>
  </mat-list-item>
  <mat-list-item routerLink="/"
                 routerLinkActive="active">
    <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
    <h4 mat-line>Skills</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>timeline</mat-icon>
    <h4 mat-line>Curriculum Vitae</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon mat-list-icon>assignment_in</mat-icon>
    <h4 mat-line>Disclaimer</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>info</mat-icon>
    <h4 mat-line>About Portfolio</h4>
  </mat-list-item>
</mat-nav-list>
