<!-- <button mat-icon-button>
  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>
 -->

<button type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
  <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
</button>
<h1><span>KRONES</span>PORTFOLIO</h1>
