:host {
  display: flex;
  height: 100px;
  align-items: center;
}

button {
  margin: 0 13px;
  color: #9696a1;
  &:hover,
  &:active {
    color: #fff;
    background-color: #3930d8;
  }

  span {
    mat-icon {
      padding: 7px;
    }
  }
}

h1 {
  margin: 0;
  user-select: none;
  font: 20px Roboto, Helvetica, sans-serif;
  color: #9696a1;
  span {
    color: #3930d8;
  }
}
