:host {
  display: flex;
  flex: 1;
  justify-content: center;
}

table {
  flex: 1;
  max-width: 960px;
}

.mat-column-level {
  width: 200px;
}

.level {
  height: 16px;
  text-align: right;
  border-radius: 32px;
  width: 0%;
  transition: width 0.5s;
  background-color: #3930d8;
  @for $i from 1 to 100 {
    $width: percentage($i/100);

    &.skill-#{$i} {
      width: $width;
    }
  }

  // &.green-A100 {
  //   background-color: rgba(var(--primary-1), 0.5);
  //   @include box-shadow(var(--primary-1));
  // }

  // &.green-A200 {
  //   background-color: RGB(var(--primary-1));
  //   @include box-shadow(var(--primary-1));
  // }
}
