<table mat-table
       [dataSource]="skills"
       matSort>

  <ng-container matColumnDef="name">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header> No. </th>
    <td mat-cell
        *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="level">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header> Level </th>
    <td mat-cell
        *matCellDef="let element">
      <div class="level"
           [ngClass]="'skill-' + element.level"></div>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastUpdate">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header> LastUpdate </th>
    <td mat-cell
        *matCellDef="let element"> {{element.lastUpdate| date: 'MMM yy'}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header> Type </th>
    <td mat-cell
        *matCellDef="let element">
      {{element.type}}
    </td>
  </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="displayedSkillProperties"></tr>

  <tr mat-row
      *matRowDef="let row; columns: displayedSkillProperties;"></tr>
</table>
