.splash-screen {
  color: #fff;
  font: 20px Roboto, Helvetica, sans-serif;
  background-color: #3930d8;
  visibility: visible;
  opacity: 1;
  position: absolute;
  display: flex;
  z-index: 2;
  width: 100%;
  height: 100vh;
  text-align: center;
  &.loaded {
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s, visibility 2s;
  }
  &:before {
    content: '';
    display: inline-block;
    vertical-align: center;
    height: 100%;
  }
}
